<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">
      <i class="bi bi-cart"></i> Carrito
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div *ngFor="let items of cartList">
      <h4>{{ items.name }}</h4>
    </div>
  </div>

  <div class="payment-confirmation">
    <button type="button" class="btn btn-success">Checkout</button>
  </div>
</div>
